<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head> <!-- tag 치환할 때는 replace tag 안에 넣을 때는 insert -->
<body class="bg-light">
    <div th:replace="fragments.html :: main-nav"></div>
    <div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
        스터디 가입을 완료하려면 <a href="#" th:href="@{/check-email}" class="alert-link">계정 인증 이메일을 확인하세요</a>
    </div>
    <div class="container">
        <div class="py-5 text-center">
            <h2>스터디</h2>
        </div>
        <div class="row justify-content-center">

        </div>

        <footer th:replace="fragments.html::footer"></footer>
    </div>
    <script type="application/javascript">
        (function () {

        }())
    </script>
</body>
</html>